form-group-placeholder-color = #666

.form-group__select
  flex-basis 85%

  color form-group-placeholder-color
  background-color transparent

  cursor pointer
  border none
  outline none
  -webkit-appearance none
  -moz-appearance none
  appearance none

.form-group__select option[selected]
  line-height 1.25