new-movie-bg-color = #fff
new-movie-border-color = #707070
new-movie-shadow-color = rgba(0, 0, 0, 0.16)

.new-movie
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

  width 700px

  background-color new-movie-bg-color
  border 1px solid new-movie-border-color
  border-radius 4px
  box-shadow 10px 10px 6px 0 new-movie-shadow-color
  z-index 200