new-movie-header-color = #fff
new-movie-header-bg-color = #444

.new-movie

  &-header
    display flex
    align-items center
    justify-content space-between

    padding 8px 25px
    color new-movie-header-color
    background-color new-movie-header-bg-color

  &-title
    font-size 14px;
    font-weight normal
    letter-spacing normal
