header-color = #42A5F5
header-shadow-color = rgba(0, 0, 0, 0.5)

.header
  display flex
  align-items center
  justify-content space-between
  padding 5px 50px
  background-color header-color
  box-shadow 0 3px 6px 0 header-shadow-color
