btn-form-shadow = rgba(0, 0, 0, 0.24)

btn-primary-color = #fff
btn-primary-bg-color = #009688
btn-primary-hover-bg = darkslategray

btn-secondary-color = #009688
btn-secondary-bg-color = #fff
btn-secondary-border-color = #009688
btn-secondary-hover-shadow = rgba(0, 0, 0, .6)

.btn-form
  width 90px
  padding 10px 0
  margin 0 10px

  font-size 14px
  font-weight 500
  line-height 1.4
  letter-spacing normal
  text-transform uppercase

  border 1px solid transparent
  border-radius 2px
  box-shadow 0 2px 2px 0 btn-form-shadow

.btn-primary
  color btn-primary-color
  background-color btn-primary-bg-color

.btn-secondary
  color btn-secondary-color
  background-color btn-secondary-bg-color
  border-color btn-secondary-border-color

.btn-primary:hover
  background-color btn-primary-hover-bg

.btn-secondary:hover
  box-shadow 0 4px 4px 1px btn-secondary-hover-shadow